In [17]:
#getting HTML content
import requests
#parsing relevant info
import lxml.html as lh
#store data as DataFrame
import pandas as pd

In [11]:
url='http://zipatlas.com/us/ca/zip-code-comparison/median-household-income.17.htm'

#create a handle, to handle content
page = requests.get(url)

#store the contents of the website
doc = lh.fromstring(page.content)

#parse data that are stored between <tr>..</tr> of html
tr_elements = doc.xpath('//tr')

In [12]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[]

In [18]:
dfs = pd.read_html('http://zipatlas.com/us/ca/zip-code-comparison/median-household-income.17.htm')

In [20]:
for df in dfs:
    print(df)

    0                                                  1   2
0 NaN  Database Download  Median Household Income in ... NaN
1 NaN                                                NaN NaN
    0                  1
0 NaN  Database Download
                                                   0
0  Median Household Income in California by Zip C...
                                                   0   1
0  Median Household Income in California by Zip Code NaN
    0   1   2   3
0 NaN NaN NaN NaN
                                                   0
0  (function () {  var cx = '01301202441262298383...
                                                   0  \
0  (adsbygoogle = window.adsbygoogle || []).push(...

                                                   1  \
0  (adsbygoogle = window.adsbygoogle || []).push(...

                                                   2
0  (adsbygoogle = window.adsbygoogle || []).push(...
                    0                        1
0  California Report:  Median Household Income
                                                   0
0  Related ReportsMedian Household Income in Cali...
1  1,601-1,673 out of 1,673 total [ << First ] .....
                                                   0  \
0  Alameda (2)Alhambra (2)Anaheim (7)Apple Valley...

                                                   1  \
0  El Cajon (3)El Monte (2)Elk Grove (2)Encino (2...

                                                   2  \
0  Los Angeles (61)Los Gatos (3)Madera (2)Malibu ...

                                                   3  \
0  Pomona (3)Rancho Cordova (2)Rancho Cucamonga (...

                                                   4
0  Santa Maria (3)Santa Monica (5)Santa Rosa (6)S...
        0         1                       2                        3  \
0       #  Zip Code                Location                     City
1   1601.     90006  34.048013, -118.293953  Los Angeles, California
2   1602.     95543  41.867908, -123.794144      Gasquet, California
3   1603.     95814  38.584505, -121.491956   Sacramento, California
4   1604.     91980  32.587557, -116.636816       Tecate, California
..    ...       ...                     ...                      ...
69  1669.     93216  35.772237, -119.269620       Delano, California
70  1670.     91743  34.065838, -117.589053       Guasti, California
71  1671.     90071  34.052917, -118.255178  Los Angeles, California
72  1672.     90822  33.778436, -118.118648   Long Beach, California
73  1673.     93435  35.497189, -121.029429      Harmony, California

             4                   5              6
0   Population  Avg. Income/H/hold  National Rank
1        62765          $20,593.00        #30,362
2          514          $20,511.00        #30,382
3        16598          $20,473.00        #30,396
4           87          $20,417.00        #30,409
..         ...                 ...            ...
69        4412               $0.00        #31,955
70           3               $0.00        #31,956
71           6               $0.00        #31,957
72         422               $0.00        #31,958
73          17               $0.00        #31,959

[74 rows x 7 columns]
                                0   1                                   2
0  1,601-1,673 out of 1,673 total NaN  [ << First ] ... 12 13 14 15 16 17
                                                   0  \
0  % Apart./Condos % Arabs % Asians % Blacks % Bo...

                                                   1  \
0  % Greeks % H/Income < $10k % H/Income > $100k ...

                                                   2  \
0  % Irish % Italians % Japanese % Korens % Lithu...

                                                   3
0  % Seniors Over 65 % Service Jobs % Slovaks % S...